@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    Font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400px, 700px;

    
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

h1,h2,h3,h4,h5,h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400px;
}

.showcase-inner {
    background-color: hsl(256, 26%, 20%);
}

.main-padding {
    padding-top: 240px;
}

/*.purple {
    background: #301934;
    height: 30vh;
}*/

/*.bs-example{
    margin: 20px;
}*/

.border {
    border:  3px 3px 3px 3px solid;
    border-color: #fff;
    padding: 10px;
    color: #fff;
    background-color: #301934;
}

.shape {
    background-color: #301934;
}

.right-padding {
    padding-right: 100px;
}

.bottom-padding {
    margin-bottom: 30px;
}


.footer {
    position: relative;
    text-align: left;
    color: black;
}




.media {
    background: darkgray;
}

nav a:hover,
nav a:focus {
	color: darkgray;
	background-color: #fff;
	text-decoration: none;
}

nav a:active {
	color: #fff;
	background-color: #fff;
	text-decoration:solid;
}

.border:hover,
nav a:focus {
	color: darkgray;
	background-color: #fff;
	text-decoration: none;
}

@media(max-width:576px) {
    .image {
        width: 60vh;
        height: 100vh;
        padding-right: 60px;
        padding-top: 0px;
    }
}


@media(max-width:576px) {
    .change {
        background: rgb(46, 42, 48);
        height: 60vh;
        padding-top: 40px;
        font-weight: bold;
        font-size: 24px;
    }

}